<div class="center jumbotron">
  <h1 style="color:white">KARENA STEVENS</h1>
  <h2 style="color:white">------------ JUNIOR DEVELOPER ------------</h2> 
  <a href="https://twitter.com/karenarails"><img src="/assets/twitter.png"/></a>
  <a href="https://github.com/karenastevens"><img src="/assets/github.png"/></a>
  <a href='/contact'><img src="/assets/contact.png"/></a>
</div>

<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="post_form">
        <%= render 'shared/post_form' %>
      </section>
    </aside>
  </div>
<% end %>


